
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPhoto</title>
    <script type="text/javascript" src="~/Scripts/bootstrap-filestyle.min.js"> </script>
    @section scripts
    {
        <script type="text/javascript">
            $(":file").filestyle();
        </script>

        }

</head>
<body>
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" area-hidden="true">X</button>
                <h4>Add Photos</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                @using (Html.BeginForm("AddPhoto", "UserAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input type="file" name="uploads" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Choose file" multiple="true"/><br>
                                    <input type="submit" value="Add" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
